<form name="addProductForm" (ngSubmit)="f.form.valid" #f="ngForm">
  <div class="form-group">
    <label for="productName">Product name</label>
    <input id="productName" name="productName" type="text" class="form-control" [(ngModel)] = "model.productName" #productName="ngModel"
           [ngClass]="{ 'is-invalid': f.submitted && productName.invalid }" required />
        <div *ngIf="f.submitted && productName.invalid" class="invalid-feedback">
          <div *ngIf="productName.errors.required">Product name is required</div>
        </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input id="description" name="description" type="text" class="form-control" [(ngModel)] = "model.description" #description="ngModel"
          [ngClass] = "{ 'is-invalid': f.submitted && description.invalid } " required/>
        <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
          <div *ngIf="description.errors.required">Product description name is required</div>
        </div>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input id="price" type="number" name="price" class="form-control" [(ngModel)] = "model.price" #price = "ngModel"
          [ngClass] = "{ 'is-invalid': f.submitted && price.invalid}" required/>
        <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
          <div *ngIf="price.errors.required">Price is required</div>
        </div>
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <input id="rating" name="rating" type="number" min="1" max="5" class="form-control" [(ngModel)] = "model.rating" #rating = "ngModel"
          [ngClass] = "{ 'is-invalid': f.submitted && rating.invalid }" required/>
        <div *ngIf="f.submitted && rating.invalid" class="invalid-feedback">
          <div *ngIf="rating.errors.required">Rating is required</div>
        </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" (click)="add()">Add</button>
    <button type="submit" class="btn btn-primary" (click)="change()">Change</button>
  </div>
</form>
