<table  id="product-tbl" class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Product name</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
    <th scope="col">Rating</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of allProducts">
    <td>{{product.id}}</td>
    <td>{{product.productName}}</td>
    <td>{{product.description}}</td>
    <td>{{product.price}}</td>
    <td>{{product.rating}}</td>
    <td>
      <form>
        <button id="delete-btn" class="btn btn-default" (click)="deleteProduct(product)">Delete</button>
        <button id="modify-btn" class="btn btn-default" (click)="modifyProduct(product)">Modify</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<app-product-form [selectedProduct]="selectedProduct" [allProducts]="allProducts"></app-product-form>
